:global(.ant-menu-item-group-title) {
  padding: 16px 16px 8px 16px !important;
  font-weight: 700;
}

:global(.ant-menu-item-selected) {
  background-color: #d1fae5 !important;
  color: #059669 !important;
}

:global(.ant-menu-item-selected .anticon) {
  color: #059669 !important;
}

:global(.ant-menu-item:hover:not(.ant-menu-item-selected)) {
  background-color: #f3f4f6 !important;
  color: #374151;
}

:global(.ant-menu-item::after) {
  border-right: none !important;
}

:global(.ant-menu-item-group-list) {
  padding-bottom: 8px;
}
